extends layout

block content
  if user
    .pure-g.container 
      .pure-u-1.tabletbar
        .bench-logo
          a(href="/", title="Home") bbbench
        .account-drop-wrap
          a.account-dropper.activator(data-activate="account-drop", title="Your account things") Account
            span.icon-arrow-down4
          ul.account-drop
            li
              a.settings-link(href="/settings", title="Settings Panel") Settings
            li
              a.signout-link(href="/sign-out", title="Sign Out") Sign Out
        .bench-drop-wrap
          a.current-bench-button.activator(data-activate="bench-list-drop", title="#{benches[0].description}", data-bench-id="#{benches[0]._id}") #{benches[0].title}
            span.icon-arrow-down4
          ul.bench-list-drop
            each bench in benches
              li.bench-in-list-drop
                a.bench-link(href="##{bench._id}", title="#{bench.description}", data-bench-id="#{bench._id}") #{bench.title}
            li.bench-in-list-drop
              a.new-bench-button.inlist(href="/new-bench")
                span.icon-plus3
                | New Bench
        a.new-bench-button(href="/new-bench")
          span.icon-plus3
          | New Bench
      .pure-u-1.togglebar
        .pure-g
          .pure-u-1-2.active
            a.toggle-btn.activator(data-activate="firstbar", data-deactivate="secondtbar") Workbench
          .pure-u-1-2
            a.toggle-btn.activator(data-activate="secondbar", data-deactivate="firstbar") Following
      .pure-u-1-4.desktopbar
        .bench-bar
          .bench-bar-inner
            include benchHeader
            .bench-heading
              span Benches 
            .bench-list
              each bench in benches
                .bench-in-list
                  a.bench-link(href="##{bench._id}", title="#{bench.description}", data-bench-id="#{bench._id}") #{bench.title}
            br 
            hr.muted 
            br 
            a.settings-link(href="/settings", title="Settings Panel") Settings
            a.signout-link(href="/sign-out", title="Sign Out") Sign Out
      .pure-u-3-8.benchbar.firstbar.active
        .workbench
          .pure-g
            .pure-u-1-2
              h2.work-heading
                span.muted Select a bench
            .pure-u-1-2
              .work-actions(style="display:none;")
                a.share-work(target="_blank", title="Get shareable bench link") Share
                a.edit-work(title="Edit bench details/settings")
                  span.icon-pencil
                a.close-work(title="Close bench")
                  span.icon-cross
          .work-sort
            a.work-sorter.latest-bench-toggle(data-showing="players") Latest Shots
            a.work-sorter.sort(data-sort-by="name") Alphabetically
            a.work-sorter.sort(data-sort-by="likesReceivedCount") Most Liked
            a.work-sorter.sort(data-sort-by="followersCount") Most Followers
          .work-list.list
      .pure-u-3-8.benchbar.secondbar
        .player-bar
          #following-load
          .pure-g
            .pure-u-1-2
              h2.player-heading
                small.muted Fetching players you follow
            .pure-u-1-2
              .player-actions
                a.player-type-link.who-i-follow.active Who I Follow
                |  | 
                a.player-type-link.add-anyone Search <span class="pure-hidden-phone">All</span>
          #players-home-list
            .player-sort
              if false
                a.player-sorter.latest-following-toggle(data-showing="players") Latest Shots
              a.player-sorter.sort(data-sort-by="name") Alphabetically
              a.player-sorter.sort(data-sort-by="likesReceivedCount") Most Liked
              a.player-sorter.sort(data-sort-by="followersCount") Most Followers
            .player-list.list
      .pure-u-3-4.widebar
        .pure-g-r
          .pure-u-2-3
            h2.latest-heading
              span.muted Select a bench
            p.latest-desc
          .pure-u-1-3
            a.edit-latest Edit
            h3.share-latest Share this bench!
              a.twitter-latest(href="#")  
                span.icon-twitter
              a.facebook-latest(href="#")
                span.icon-facebook
        .latest-grid-wrap
          #bench-load
          #latest-grid
    script.
      var bbbench = bbbench || {}; bbbench.benches = !{JSON.stringify(benches)};
  else
    include nonUserIndex
    script.
      var bbbench = bbbench || {};