extends layout

block content
  if user
    .pure-g.container 
      .pure-u-1-4
        .bench-bar
          .bench-bar-inner
            include benchHeader
            .bench-heading
              span Benches 
            .bench-list
              each bench in benches
                .bench-in-list
                  a.bench-link(href="##{bench._id}", title="#{bench.description}", data-bench-id="#{bench._id}") #{bench.title}
            br 
            hr.muted 
            br 
            a.settings-link(href="/settings", title="Settings Panel") Settings
            a.signout-link(href="/sign-out", title="Sign Out") Sign Out
      .pure-u-3-8
        .workbench
          .pure-g
            .pure-u-1-2
              h2.work-heading
                span.muted Select a bench
            .pure-u-1-2
              .work-actions(style="display:none;")
                a.share-work(target="_blank") Share
                a.close-work
                  span.icon-cross
          .work-sort
            a.work-sorter.sort(data-sort-by="name") Alphabetically
            a.work-sorter.sort(data-sort-by="likesReceivedCount") Most Liked
            a.work-sorter.sort(data-sort-by="followersCount") Most Followers
          .work-list.list
      .pure-u-3-8
        .player-bar
          .pure-g
            .pure-u-1-2
              h2.player-heading Players
            .pure-u-1-2
              .player-actions
                a.player-type-link.who-i-follow.active Who I Follow
                |  | 
                a.player-type-link.add-anyone Search
          #following-load
          #players-home-list
            .player-sort
              a.player-sorter.sort(data-sort-by="name") Alphabetically
              a.player-sorter.sort(data-sort-by="likesReceivedCount") Most Liked
              a.player-sorter.sort(data-sort-by="followersCount") Most Followers
            .player-list.list
    script.
      var bbbench = bbbench || {}; bbbench.benches = !{JSON.stringify(benches)};
  else
    include nonUserIndex