doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:400,100,700')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href="/images/favicon.png")
    meta(name="description", content="Make your best dribbble line-ups with bbbench.")
    if user
      meta(name="uid", content="#{user._id}")
      meta(name="dribbble", content="#{user.dribbble}")
  body
    if message && message.length > 0
      #messages
        p.pull-center.message
          a(onclick="dismissAlert(this.parentNode.parentNode);", style="margin-right:1em;")
            span.x-remove X
          | #{message}
    if error && error.length > 0
      #error-messages
        p.pull-center.error
          a(onclick="dismissAlert(this.parentNode.parentNode);", style="margin-right:1em;")
            span.x-remove X
          | #{error}
    block content

    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/lodash.js")
    script(src="/javascripts/lodash-ext.js")
    script(src="/javascripts/list.min.js")
    script(src="/javascripts/script.js")
    script(src="/javascripts/user.js")
    script(src="/javascripts/bench.js")